IndexOptions +FancyIndexing HTMLTable
IndexOptions SuppressLastModified
IndexOptions SuppressSize SuppressRules
IndexIgnore ..

HeaderName header.html
IndexIgnore header.html footer.html icons dbcodes.txt autoindex.css forbidden.html applications.html bitnami.css favicon.ico webalizer xampp dashboard index_old.php img highCharts old
AddIcon icons/doc.png tasks_25_05_2016.doc
AddIcon icons/pdf.png organizationChart.pdf
AddDescription "Άδειες" adeies
AddDescription "Ψηφιακές Υπογραφές" directorSign
AddDescription "Μετακινήσεις" metakiniseis
AddDescription "Χάρτες" maps
AddDescription "Υπηρεσίες" monthly_services
AddDescription "Καθήκοντα-Αρμοδιότητες" ΟΡΓΑΝΟΓΡΑΜΜΑ.pdf
IndexStyleSheet autoindex.css
ErrorDocument 403 /forbidden.html

order deny,allow
#deny from all
allow from 10.142.49.*



<IfModule mod_rewrite.c>
    # Handle Authorization Header.
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests;"
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

