body{
	/*background-image: url("images/newYear.jpg");*/	
	background-repeat:repeat;
}

td {
  word-wrap:break-word;
  word-break:break-word;
}

.table-responsive {
   font-size : 12px;
}

select{
	font-size : 8px;
}

select.trano{
	font-size : 14px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > thead > tr > th {
    vertical-align: middle;
}
@font-face { font-family: byz ; src: url('byz.ttf'); } 
@font-face { font-family: Bradley ; src: url('BRADHITC.TTF'); } 
@font-face { font-family: arcade ; src: url('ka1.ttf'); } 
@font-face { font-family: robot ; src: url('joystix.ttf'); } 
@font-face { font-family: electron ; 
			src: url('Game-Over.woff2') format('woff2'),
			src: url('Game-Over.woff') format('woff'),
			src: url('game_over.ttf') format('truetype');
			} 

label.titlos{
	font-size : 50px;
	padding-left : 40px;
	font-family : electron,"Mistal","Verdana";
	color : black;
}

label.titlosMikros{
	font-size : 20px;
	padding-left : 40px;
	font-family : robot,"Mistal","Verdana";
	color : red;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 0px;
	margin : 0 0px;
}

.breadcrumb {
	margin-top : 0 0px;
	padding-left : 80px;
}


td a{
	font-weight:bold;
}

td .fa-search{
	color :green;
	font-size: 1.3em;
}	

td .fa-search-plus{
	color :green;
	font-size: 1.2em;
}

td .fa-paperclip{
	color :blue;
	font-size: 1.2em;
}	

td .fa-amilia{
	color :red;
	font-size: 1.2em;
}


.btn-mybutton {
  color: #ffffff;
  background-color: #green;
  border-color: #green;
}

#loading{
	display : none;
}

#signing{
	display : none;
}

#rejecting{
	display : none;
}

#example1 {
	margin-top : 2em;	
}

#dataToSignTable{
	margin : 2em;
	width  : calc(100% - 4em);
	border-bottom: 1px solid #ddd;
}

#dataToSignTable th{
	background-color : gray;
	padding : 0.2em;
	text-align : center;
	color : white;
	padding-bottom : 1em;
}

#dataToSignTable th:first-child{
	width : 40% !important;
}

#dataToSignTable td{
	text-align : center;
}

#headmasterExtraMenuDiv{
	display : flex;	
	flex-flow: row nowrap;
	gap : 0.5em;
	padding : 1em;
	background-color : gray;
	padding : 15px;
	align-items :flex-start;
	margin : 2em;
	margin-bottom : 0em;
}

#tableSearchInput {
	width : 400px;	
	flex-basis : 0;
}

#showEmployees{
	width : 15%;
}

#showToSignOnly{
	width : 15%;
}

#emailButton{
	width : 5%;
}

#mindigitalButton{
	width : 5%;
}

#uploadFileDiv{
	background-color : lightblue;
}

#uploadDiv{
	margin:2em;
	margin-top:0em;
	padding-top : 1em;
	background-color:gray;
	color : white;
	border-top : 3px solid lightgray;
}

#viewSelectedFiles{
	margin-left : 1em;	
}


#container {
	padding-top : 2em;	
	margin : 2em;
}

#myNavBar {
	display : flex;	
	flex-flow: row wrap;
	gap : 0.5em;
	background-color : gray;
	padding : 5px;	
	align-items : stretch;
}

#myNavBar>div {
	flex-grow : 0;
	margin:0.3em;
}

#myNavBar a:link{
	color:white;
}
#myNavBar a:visited{
	color:white;
}
#myNavBar a:hover{
	text-decoration: underline;
}
#myNavBar a{
	color:white;
	font-size : 1.1em;
	 text-decoration: none;
}
#myNavBar a.active{
	color:white;
	font-size : 1.1em;
	text-decoration: underline;
	text-decoration-color: green;
	text-decoration-thickness: 8px;
	text-decoration-skip-ink: none;
}

#myNavBarLogo{
	font-size : 0.9em;
	font-weight : bold;
	flex-grow:1 !important;
	display : flex;
	justify-content : flex-end;
}

#myNavBarLogoContent{
	background-color : coral;
	padding : 10px;
	border-radius : 5px;
	font-size : 0.9em;
	font-weight : bold;
	flex-grow: 0;
	display : flex;
	flex-flow : row  nowrap;
	justify-content : flex-end;
	gap : 0.4em;
	align-items : center;
}

#userRoles {
	display : flex;	
	flex-flow: column nowrap;
	gap : 0.2em;
	background-color : lightgray;
	padding : 10px;
	border-radius : 5px;
	align-items : stretch;
}

.filenameDiv{
	display : flex;	
	flex-flow: row nowrap;
	align-items : center;
}

.recordButtons {
	display : flex;	
	flex-flow: row nowrap;
	align-items : center;
	gap : 5px;
	justify-content:center;
}

